<header class="fixed top-0 left-0 right-0 shadow-sm z-50 h-20 bg-[#13161a] text-white text-lg">
  <nav class="container flex items-center justify-between h-20 text-white ml-5">
    <ul class="flex gap-4">
      <li><a (click)="goTo('home')" class="hover:bg-[#1e2329] transition duration-400 rounded-lg px-4 py-2">Home</a></li>
      <li><a (click)="goTo('about')" class="hover:bg-[#1e2329] transition duration-400 rounded-lg px-4 py-2">Sobre</a></li>
      <li><a (click)="goTo('experience')" class="hover:bg-[#1e2329] transition duration-400 rounded-lg px-4 py-2">Experiência</a></li>
      <li><a (click)="goTo('contact')" class="hover:bg-[#1e2329] transition duration-400 rounded-lg px-4 py-2">Contato</a></li>
    </ul>
  </nav>
</header>
