<rc-section-container id="about" className="about-section">
  <div class="mt-10 mx-15" rcScrollReveal>
    <h2 class="text-1 text-6xl font-bold">Sobre Mim</h2>
    <p class="text-2 text-xl my-10 w-3/5 text-wrap">Minha trajetória começou em 2017, quando entrei na faculdade de Sistemas de Informação pela UNESA. 
      Lá foi onde eu compilei meus primeiríssimos códigos em C++ e consigo me lembrar até hoje a felicidade de ver meu 
      primeiro "Hello world" aparecendo no terminal.
    </p>
    <div class="flex mt-6">
      <img src="/images/cout.gif" alt="O GIF mostra a saída do código em C++, imprimindo 'Hello World' na tela do terminal" class="gif-1 h-50 rounded-l-xl">
      <img src="/images/hello-world.gif" alt="O GIF mostra a saída do código em C++, imprimindo 'Hello World' na tela do terminal" class="gif-2 h-50 rounded-r-xl">
    </div>
  </div>
  <div class="mt-10 mx-15" rcScrollReveal>
    <p class="text-3 text-xl mt-40 text-right ml-190">Desde então, fui completamente tomado por uma curiosidade incontrolável em explorar as diversas possibilidades que 
      a área de desenvolvimento de software pode nos proporcionar. Desde automações, otimizações de tarefas e fluxos de regras de negócio com códigos em back-end, 
      como scripts em Python, até a incrível flexibilidade funcional e visual à experiência do usuário que tecnologias de front-end têm a nos oferecer.
    </p>
    <img src="/images/ux.gif" alt="O GIF mostra uma ilustração cartoon representando UX, com um rapaz e uma moça discutindo ideias de design de interface" 
    class="gif-3 h-90 mt-15 ml-auto rounded-xl">
  </div>
  <div class="mt-10 mx-15" rcScrollReveal>
    <p class="text-4 text-xl text-left mr-190">Então finalmente pude colocar toda essa paixão em prática ao iniciar minha carreira como desenvolvedor de software em 2022, 
      focando principalmente em tecnologias de front-end, como Angular, Typescript, HTML e CSS. Não há nada mais gratificante do que ver uma aplicação ganhar vida na tela, com 
      interfaces amigáveis e responsivas, proporcionando uma experiência intuitiva e agradável para os usuários finais. Cada pequena decisão que eu tomo à respeito de design, animação, 
      espaçamento e cor é cuidadosamente pensada para garantir que a interação do usuário seja fluida e envolvente. 
    </p>
  </div>
</rc-section-container>
